<!DOCTYPE html>
<html>
  <head>
    <title>Instascan</title>
    <script type="text/javascript" src="instascan.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
  </head>
  <body>
    <div id="new_tran" style="display: none;">
      <%= form_with scope: :transaction, url: create_meetup_transactions_path, local: true do |form| %>
        <form>
          <div class="form-group" hidden>
            <label class="h5 bold" for="item_id" >Item ID</label>
            <%= form.text_field :item_id, class: 'form-control', id: "item_id" , placeholder: "Enter item ID that you wish to borrow" , "aria-describedby": "item_help", :readonly => true%>
            <small id="item_help" class="form-text text-muted">Note that this is disjoint from item db. You have to manually check if the item exists in the db.</small>
          </div>

          <div class="form-group" hidden>
            <label class="h5 bold" for="user_id" >Borrower</label>
            <%= form.text_field :user_id, class: 'form-control', id: "user_id" , placeholder: "Enter item ID that you wish to borrow" , "aria-describedby": "item_help", :readonly => true%>
            <small id="item_help" class="form-text text-muted">Note that this is disjoint from item db. You have to manually check if the item exists in the db.</small>
          </div>

          <div class="form-group">
            <label class="h5 bold" for="name">Item</label>
            <%= form.text_field :name,  class: 'form-control', id: "name" , placeholder: "Name", :readonly => true %>
            <small id="name" class="form-text text-muted">Name of the item.</small>
          </div>

          <div class="form-group">
            <label class="h5 bold" for="start_date">Start Date</label>
            <%= form.text_field :start_date,  class: 'form-control', id: "start_date" , placeholder: "YYYY-MM-DD", :readonly => true %>
            <small id="start_date" class="form-text text-muted">Starting Date of Transaction.</small>
          </div>

          <div class="form-group">
            <label class="h5 bold" for="end_date">End Date</label>
            <%= form.text_field :end_date,  class: 'form-control', id: "end_date" , placeholder: "YYYY-MM-DD", :readonly => true %>
            <small id="end_date" class="form-text text-muted">Ending Date of Transaction.</small>
          </div>

          <div class="form-group" hidden>
            <label class="h5 bold" for="status">Status</label>
            <%= form.text_field :status, id: "status", class: 'form-control' , :readonly => true%>
            <small id="status" class="form-text text-muted">This is an incomplete list of statuses.</small>
          </div>

          <div class="p-5">
            <%= form.submit 'Confirm transaction', class: "btn btn-success btn-lg btn-block" %>
          </div>

        </form>
      </div>
    <% end %>

    <div id="capture">
      <button type="button" id="qrButtonOn" class="btn btn-warning" style="display: block; margin:0 auto; margin-top:3%;">Scan QR Code</button>
      <video id="preview" style="display: block; margin:0 auto; margin-top:1%;"></video>
    </div>
    <script type="text/javascript">
      let scan = "Scan QR Code";
      let stop = "Stop Capturing";
      let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });

      $("#new_tran").hide();
      $(document).ready(function() {
          // start scanning
          $("#qrButtonOn").click(function(){
            $("#new_tran").hide();
            var text = $('#qrButtonOn').text().toString();

            if(text == scan){
              $('#qrButtonOn').html(stop);
              Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                  scanner.start(cameras[0]);
                  let result = scanner.scan()

                } else {
                  console.error('No cameras found.');
                }
              }).catch(function (e) {
                console.error(e);
              });
            }
            else{
              $('#qrButtonOn').html(scan);
              scanner.stop();
            }


          });

          // stop scanning
          $("#qrButtonOff").click(function(){
            $("#qrButtonOff").toggle();
            $("#qrButtonOn").toggle();

          });
      });

      // On result capture
      scanner.addListener('scan', function (content) {
        //alert(content);
        $("#new_tran").show();
        scanner.stop();
        $("#qrButtonOn").toggle();
        $("#qrButtonOff").toggle();

        // Decrypt
        var dt = new Date($.now());
        key = (dt.getMonth()+1) + ' ' +dt.getDate() + ' ' + dt.getFullYear()
        var bytes  = CryptoJS.AES.decrypt(content, key);
        var plaintext = bytes.toString(CryptoJS.enc.Utf8);
        var params = plaintext.split(';');
        document.getElementById("item_id").value = params[0];
        document.getElementById("name").value = params[1];
        document.getElementById("start_date").value = params[2];
        document.getElementById("end_date").value = params[3];
        document.getElementById("status").value = 2;
        document.getElementById("user_id").value = 2;
      });

    </script>
  </body>
</html>
