<%# This sets the active menu item for this page %>
<% content_for :menu_item, "items" %>

<%# This sets the title for this page %>
<% content_for :title, "Item Details" %>

<%# This adds extra style for this page %>
<% content_for :extra_style do -%>
    <%= stylesheet_link_tag 'settings' %>
<% end -%>

<%# START main page content %>
<div class="row profile">
    <!-- side menu -->
    <div class="col-md-3">
        <%= render 'layouts/settings_menu' %>
    </div>

    <!-- content -->
    <div class="col-md-9">
        <div class="profile-content p-0">
          <!-- Carousel -->
          <% if @item.images.first != nil %>
            <div class="d-block p-0">
              <%= render "item_carousel" %>
            </div>
          <% end %>
          <br><br>
          <!-- Links -->
            <div class="btn-group ml-3" role="group" aria-label="Links">
              <a href="<%= items_path %>" class="btn btn-secondary my-3 border-right">
                  <i class="fas fa-arrow-circle-left"></i> Go Back
              </a>
              <%= link_to edit_item_path(@item), class: "btn btn-secondary my-3 border-left" do %>
                <i class="fas fa-edit"></i> Edit Item
              <% end %>
            </div>

          <br><br>
          <div class="d-block p-2 mx-0">
            <h3 class="display-5">
              <%= @item.name %> |
              <small class="text-muted">
                <%= @item.category.name %>
                <a href="#" class="btn btn-outline-secondary">
                  <img src="/assets/icons/browser.png" width="25px" %>
                  <%= is_public_text(@item.public) %>
                </a>
              </small>

            </h3>
          </div>
          <div class="d-block p-3 mx-0 bg-purple text-white">
            <p>
              <%= @item.description %>
            </p>
          </div>
          <input id="location" type="hidden" value="<%=@item.location%>">
          <div id="map" style="height:300px; width:100%"></div>
          <script>
            // Initialize and add the map
            function initMap() {
                var default_location = {lat: 43.653908, lng: -79.384293};
                if(document.getElementById('location').value){
                    default_location = JSON.parse(document.getElementById('location').value);
                }              var map = new google.maps.Map(
                  document.getElementById('map'), {zoom: 12, center: default_location});

              if(document.getElementById('location').value){
                  var marker = new google.maps.Marker({position: default_location, map: map});
              }
            }
          </script>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBO6_x2QkUcC7K6E7cFiFhEv0eBdOWgWg&callback=initMap">
          </script>
          <!-- Ratings -->
          <div class="d-block p-0">
            <%= render "item_rating" %>
          </div>
        </div>
    </div>
</div>



<!-- <p>
  <strong>Category:</strong>
  <%= @item.category_id %>
</p> -->
